<div class="container">
  <h2>ユーザー</h2>

  <% @users.each do |user| %>
      <div class="container-child col-md-4 col-sm-6 col-xs-12 ">
        <%= profile_img(user) %>
        <%= link_to user_path(user) do %>
          <h4><strong><%= user.email %></strong></h4>
        <% end %>
        <%= render 'follow_form', user: user %>
      </div>
  <% end %>
</div>
