<h1>Achieveに新しいお問い合わせが追加されました！</h1>

<h4>name: <%= @contact.name %></h4>
<p>email: <%= @contact.email %></p>
<p>content: <%= @contact.content %></p>
<p>
  <%= link_to 'お問い合わせ内容はこちら', contacts_url %>
</p>
